@model Rapidlaunch.Models.LaunchStaffSchedule

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LaunchStaffSchedule</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.staff)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.staff.staffID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Launch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Launch.LaunchID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LaunchStaffScheduleID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
