@model IEnumerable<Rapidlaunch.Models.Launch>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.providerIdent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.launchDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.launchName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.padStatusIdenet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rocketIdentID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.providerIdent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.launchDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.launchName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.padStatusIdenet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rocketIdentID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LaunchID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LaunchID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LaunchID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
