@model IEnumerable<Rapidlaunch.Models.Provider>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProviderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProviderRegNo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProviderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProviderRegNo)
            </td>
            <td class="tester-editor">
                <div class="dropdownIndex">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        Data Option
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <a asp-action="Edit" asp-route-id="@item.ProviderID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ProviderID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ProviderID">Delete</a>
                    </ul>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
