@model Rapidlaunch.Models.Address

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Address</h4>
    <hr />
    <dl class="row" style="text-align:center"> <!--Align more Central  -->
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.addressLine1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.addressLine1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.addressLine2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.addressLine2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.addressLine3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.addressLine3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.postCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.postCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.country.CountryID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AddressID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
