@model IEnumerable<Rapidlaunch.Models.ProviderAddress>

@{
    ViewData["Title"] = "Provider Address";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Provider)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Provider.ProviderID)
            </td>
            <td class="tester-editor">
                <div class="dropdownIndex">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        Data Option
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </ul>
                </div>
</td>
        </tr>
        }
    </tbody>
</table>


